<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Theme Made By www.w3schools.com - No Copyright -->
	<title>Kalkulator kredytowy</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/dataTables.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
	<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
	<script src="http://1000hz.github.io/bootstrap-validator/dist/validator.min.js"></script>


	<link href="css/style.css" rel="stylesheet">
	<script src="js/funkcje.js"></script>
	<script src="js/BusinessLogic.js"></script>
	<script src="js/BankierDane.js"></script>
	<script src="js/ExcelFormulas.js"></script>
	<script src="js/Baza.js"></script>
	<script src="js/PdfPrnt.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js"></script>

</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

	<div id="angularScope" ng-app="myApp" ng-controller="myCtrl">
		<div id="toHighLtvAlert" class="alert alert-warning notification" role="alert" style="display: none">
			<strong>Zbyt wysoki wskaźnik LTV!</strong> Zwiększ wartość nieruchomości i/lub zmniejsz kwotę kredytu.
		</div>

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
					<a class="navbar-brand" href="#myPage">Home</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav navbar-left">
						
					</ul>
				</div>
			</div>
		</nav>

		<div class="jumbotron text-center">
			<h1>Kalkulator kredytowy</h1>
			<p>porównywarka ofert kredytów hipotecznych</p>
			<p id="Uz_Nazwa"></p>

			<!-- Logowanie / Rejestracja -->
			<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" id="btnLoginReje">Logowanie / Rejestracja</button>
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<br>
							<h4 class="modal-title" id="myModalLabel">Kalkulator kredytowy</h4>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-8" style="border-right: 1px dotted #C2C2C2;padding-right: 30px;">
									<!-- Nav tabs -->
									<ul class="nav nav-tabs">
										<li class="active"><a href="#Login" data-toggle="tab">Logowanie</a></li>
										<li><a href="#Registration" data-toggle="tab">Rejestracja</a></li>
									</ul>
									<!-- Tab panes -->
									<div class="tab-content">
										<br>
										<div class="tab-pane active" id="Login">
											<form role="form" class="form-horizontal" id = "flogowanie" >
												<div class="form-group">
													<label for="lemail" class="col-sm-2 control-label">Email</label>
													<div class="col-sm-10">
														<input type="email" class="form-control" id="lemail" placeholder="Email" data-error="Niepoprawny adres email" required />
														<div class="help-block with-errors"></div>
													</div>
												</div>
												<div class="form-group">
													<label for="lhaslo" class="col-sm-2 control-label">Hasło</label>
													<div class="col-sm-10">
														<input type="password" class="form-control" id="lhaslo" placeholder="Hasło" data-error="Hasło nie może być puste" required />
														<div class="help-block with-errors"></div>
													</div>
												</div>
												<div class="checkbox">
													<label><input type="checkbox" value="" id = "lzapamietajdane">Zapamiętaj dane</label>
												</div>
												<br>
												<div class="row">
													<div class="col-sm-2">
													</div>
													<div class="col-sm-10">
														<button type="submit" class="btn btn-primary btn-sm" id="btnLoguj" ng-click="DBLogowanie()">Zaloguj</button>
													</div>
												</div>
											</form>
										</div>
										<div class="tab-pane" id="Registration">
											<form role="form" class="form-horizontal" id = "fzapis">
												<div class="form-group">
													<label for="rnazwa" class="col-sm-2 control-label">Nazwa</label>
													<div class="col-sm-10">
														<input type="text" class="form-control" id="rnazwa" placeholder="Nazwa" data-error="Nazwa nie może być pusta" required />
														<div class="help-block with-errors"></div>
													</div>
												</div>
												<div class="form-group">
													<label for="remail" class="col-sm-2 control-label">Email</label>
													<div class="col-sm-10">
														<input type="email" class="form-control" id="remail" placeholder="Email" data-error="Niepoprawny adres email" required/>
														<div class="help-block with-errors"></div>
													</div>
												</div>
												<div class="form-group">
													<label for="rhaslo" class="col-sm-2 control-label">Hasło</label>
													<div class="col-sm-10">
														<input type="password" class="form-control" id="rhaslo" placeholder="Hasło" data-error="Hasło nie może być puste" required />
														<div class="help-block with-errors"></div>
													</div>
												</div>
												<div class="checkbox">
													<label><input type="checkbox" value="" id = "rzapamietajdane">Zapamiętaj dane</label>
												</div>
												<br>
												<div class="row">
													<div class="col-sm-2">
													</div>
													<div class="col-sm-10">
														<button type="submit" class="btn btn-primary btn-sm" id="btnZarejestruj" ng-click="DBZapis()">Zapisz</button>
														<button type="button" class="btn btn-default btn-sm" id="btnAnuluj" data-dismiss="modal">Anuluj</button>
													</div>
												</div>
											</form>
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="row text-center sign-with">

										<img class="img-responsive center-block" src="http://www.medlang.eu/common/img/login.jpg" alt="Chania" width="170" height="170">

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div style="width: 60%; margin: 0 auto">
			<div id="content">
				<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
					<li class="active"><a href="#calculationTab" data-toggle="tab" aria-expanded="true">Kalkulacja wg własnych danych</a>
					</li>
					<li><a href="#comparisonTab" data-toggle="tab">Porównywanie kredytów</a>
					</li>
				</ul>
			</div>
			<div id="my-tab-content" class="tab-content">
				<div class="tab-pane active" id="calculationTab">
					<form class="form-horizontal" id = "foblicz1">
						<fieldset class="calculationTabClass">

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Kwota kredytu</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="textinput" class="form-control input-md" ng-model="creditAmount" data-error="Wartość nie może być pusta" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Wartość nieruchomości</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="textinput" class="form-control input-md" ng-model="estateValue" data-error="Wartość nie może być pusta" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<!-- Select Basic -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="selectbasic">Czas kredytowania w miesiącach</label>
								<div class="col-md-4">
									<select id="selectbasic" name="selectbasic" class="form-control" ng-model="creditTime" ng-options="value.id as value.value for value in creditOptions.availableMonths"></select>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Marża</label> %
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="textinput" class="form-control input-md" ng-model="spread" data-error="Wartość nie może być pusta" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Prowizja</label> %
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="textinput" class="form-control input-md" ng-model="commision" data-error="Wartość nie może być pusta" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<!-- Multiple Radios -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="radios">Rodzaj rat</label>
								<div class="col-md-4">
									<div class="radio">
										<label for="radios-0">
      <input type="radio" name="Rate" id="FixedRate" value="FixedRate" checked="checked" ng-model="installmentType">
      Stałe
    </label>
									</div>
									<div class="radio">
										<label for="radios-1">
      <input type="radio" name="Rate" id="VariableRate" value="VariableRate" ng-model="installmentType">
      Malejące
    </label>
									</div>
								</div>
							</div>

							<!-- Multiple Radios -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="radios">Automatyczne pobieranie stopy procentowej</label>
								<div class="col-md-4">
									<div class="radio">
										<label for="radios-0">
      <input type="radio" name="InterestRate" id="InterestRateYes" value="InterestRateYes" checked="checked" ng-model="showAutomateRatioParameters">
      Tak
    </label>
									</div>
									<div class="radio">
										<label for="radios-1">
      <input type="radio" name="InterestRate" id="InterestRateNo" value="InterestRateNo" ng-model="showAutomateRatioParameters">
      Nie
    </label>
									</div>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group" ng-show="showAutomateRatioParameters === 'InterestRateNo'">
								<label class="col-md-4 control-label" for="textinput">Wartość stopy procentowej</label> %
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="InterestRate">
								</div>
							</div>

							<div id="AutomateRatioParameters" ng-show="showAutomateRatioParameters === 'InterestRateYes'">
								<!-- Multiple Radios -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="radios">Waluta kredytu</label>
									<div class="col-md-4">
										<div class="radio">
											<label for="radios-0">
      <input type="radio" name="Currency" id="WIBOR" value="WIBOR" checked="checked" ng-model="Currency">
      PLN
    </label>
										</div>
										<div class="radio">
											<label for="radios-1">
      <input type="radio" name="Currency" id="EULIBOR" value="EURIBOR" ng-model="Currency">
      EURO
    </label>
										</div>
										<div class="radio">
											<label for="radios-1">
      <input type="radio" name="Currency" id="LIBOR" value="LIBOR" ng-model="Currency">
      CHF
    </label>
										</div>
									</div>
								</div>

								<!-- Multiple Radios -->
								<div class="form-group">
									<label class="col-md-4 control-label" for="radios">Okres czasowy dla stopy procentowej</label>
									<div class="col-md-4">
										<div class="radio">
											<label for="radios-0">
      <input type="radio" name="RateTime" id="1M" value="1M" checked="checked" ng-model="RateTime">
      1M
    </label>
										</div>
										<div class="radio">
											<label for="radios-1">
      <input type="radio" name="RateTime" id="3M" value="3M" ng-model="RateTime">
      3M
    </label>
										</div>
										<div class="radio">
											<label for="radios-1">
      <input type="radio" name="RateTime" id="6M" value="6M" ng-model="RateTime">
      6M
    </label>
										</div>
									</div>
								</div>
								<!-- Button -->

							</div>
							<div class="form-group">
								<div class="col-md-4 col-md-offset-4">
									<button type = "submit" id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="calculateInstallment()">Oblicz!</button>
									<button type = "submit" id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="SaveParameters()">Zapisz parametry</button>
									<button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="PrintToPdfWgWlasnychDanych()" ng-show="btnPDFSHow">Zapisz do pdf</button>
								</div>
							</div>
						</fieldset>
					</form>
					<div id="resultContainer" ng-show="resultContainerShow">
					<div id="content">
						<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
							<li class="active"><a href="#summaryTab" data-toggle="tab" aria-expanded="true">Podsumowanie</a>
							</li>
							<li><a href="#scheduleTab" data-toggle="tab">Harmonogram</a>
							<li><a href="#installmentTab" data-toggle="tab">Wykres rat</a>
							<li><a href="#capitalTab" data-toggle="tab">Wykres kapitału</a>
							<li><a href="#differentRatesTab" data-toggle="tab" ng-show="installmentType === 'FixedRate'">Raty dla zmiennych stóp</a>
							</li>
						</ul>
					</div>

					<div id="my-tab-content" class="tab-content">
						<div class="tab-pane" id="summaryTab">
							<table id="calculationSummary" class="display"></table>
							</div>
						<div class="tab-pane" id="scheduleTab">
							<table id="calculationResult" class="display"></table>
							<div id="benefitCalculationButton" style="text-align: right;"></div>
							</div>
						<div class="tab-pane" id="installmentTab">
							<canvas id="installmentDetailsChart"></canvas>
							</div>
						<div class="tab-pane" id="capitalTab">
							<canvas id="remainingCapitalInTimeChart"></canvas>
							</div>
						<div class="tab-pane" id="differentRatesTab">
							<table id="installmentsDifferentRates" class="display"></table>
							</div>
		</div>
</div>
		</div>
				<div class="tab-pane" id="comparisonTab">
					<form class="form-horizontal" id = "foblicz2">
						<fieldset class="calculationTabClass">

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Kwota kredytu</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="creditAmount" data-error="Wartość nie może być pusta" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<!-- Text input-->
							<div class="form-group">
								<label class="col-md-4 control-label" for="textinput">Wartość nieruchomości</label>
								<div class="col-md-4">
									<input id="textinput" name="textinput" type="text" class="form-control input-md" ng-model="estateValue" data-error="Wartość nie może być pusta" required>
									<div class="help-block with-errors"></div>
								</div>
							</div>

							<!-- Select Basic -->
							<div class="form-group">
								<label class="col-md-4 control-label" for="selectbasic">Czas kredytowania w miesiącach</label>
								<div class="col-md-4">
									<select id="selectbasic" name="selectbasic" class="form-control" ng-model="creditTime" ng-options="value.id as value.value for value in creditOptions.availableMonths"></select>
								</div>
							</div>

							<!-- Button -->
							<div class="form-group">
								<div class="col-md-4 col-md-offset-4">
									<button type = "submit" id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="CompareCreditOffers()">Porównaj!</button>
									<button type = "submit" id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="SaveParametersWgApi()">Zapisz parametry</button>
									<button id="singlebutton" name="singlebutton" class="btn btn-primary" ng-click="PrintToPdfWgDanychApi()" ng-show="btnPDFSHowWgDanychApi">Zapisz do pdf</button>
								</div>
						</fieldset>
					</form>
					<table id="comparisonResult" class="display"></table>
					</div>
				</div>


			</div>

		</div>
		
	</div>

	<footer class="container-fluid text-center">
		<a href="#myPage" title="To Top">
			<span class="glyphicon glyphicon-chevron-up"></span>
		</a>
		<p>Tomasz Lisowski</p>
		<p>Krzysztof Gieroń</p>
	</footer>

	<script>	

	</script>
	</div>
</body>

</html>